:root{
    --text-color:#121212;
}
body.dark-mode{
    --text-color:#ffffff;
}
.todo-list-my-task-card{ padding:20px; min-height:200px; }
.details{ font-size: clamp(1rem ,2vw,1.3rem); text-align:center; color:#dc3545; }

.todo-items-container{ margin:0; padding:0; list-style:none; }
.todo-item-container{ margin-top:15px; display:flex; flex-direction:row; align-items:flex-start; gap:10px; }

.label-container{
    width:90%; display:flex; flex-direction:row; align-items:center; justify-content:space-between;
    border-left:5px solid #0d6efd; background-color:#f8f9fa; border-radius:4px; padding:5px 10px;
}
.label-container:hover{ box-shadow:0 4px 8px rgba(0,0,0,0.1); }

.checkbox-input{ width:20px; height:20px; margin-top:12px; margin-right:12px; }
.checkbox-label{
    width:88%; font-size:clamp(1rem ,2vw,1.3rem); font-family: 'Comic Neue', cursive;
    word-wrap: break-word; overflow-wrap: break-word; white-space: normal;
}

.delete-icon-container{ text-align:right; width:12%; }

.checked{ text-decoration: line-through; }
.progress-bar-label{
    color:var(--text-color);
    width:100%;
     font-size:clamp(1rem ,2vw,1.3rem); 
     font-family: 'Comic Neue', cursive;
}
.progress-bar{ transition:width 0.4s ease; background-color:#0d6efd; height:20px; font-size:0.9rem; }
.progress-container{ width:90%; margin:0 auto; }

.task-bar-heading{ font-size:clamp(2rem,3.5vw,3rem); font-weight:600; }
.todo-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #0d6efd;
    color: #fff;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    opacity: 0;
    transform: translateY(-10px);
    animation: slideIn 0.4s ease forwards;
    z-index: 9999;
    transition: background 0.3s, color 0.3s;
}
.todo-popup.hide {
    animation: fadeOut 0.5s ease forwards;
}
@keyframes slideIn { to { opacity: 1; transform: translateY(0); } }
@keyframes fadeOut { to { opacity: 0; transform: translateY(-20px); } }


.todo-popup.success { background-color: #198754; } 
.todo-popup.warning { background-color: #ffc107; color: #000; }
.todo-popup.info { background-color: #0dcaf0; color: #000; } 
.todo-popup.danger { background-color: #dc3545; }